
.popup-modal{
    
    width:900px !important;
    height:400px !important;
}

.brand-nav-admin{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}
.outer-row-admin{
    margin-bottom:150px;
}
.container_div-admin{
    margin-top:2%;
    margin-left:10%;
}

.context-admin{
    margin-left: 41.5%;
    margin-top:  2%;
    margin-bottom:5%;
}

.customerDisplay{
    font-size:15px;
    
}

.revenue_button{
    margin-left:1%;
    width:170px;
}

.brand-footer-admin{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}