div#form_container{
    margin-left: auto;
    margin-right: auto;
    width:45%; 
}

#logo{
    width:187px;
    clear: both;
}

#login_form{
    margin-right:170px;
}

.outer_container{
    background: url(../images/pexels-eternal-child-3791919.png) no-repeat center center fixed;
    background-color: black;
    height: 690px;
}

.brand-nav{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}

.brand-footer{
    width:100%;
    height:50px;
    background-color: black;
    margin-top:0px !important;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}
