.form_parent{
    margin-top:4%;
}
.check_box{
    margin-left:45%;
}

.purchase_button{
    margin-left: 45%;
}
.notchecked_purchase_button{
    margin-left: 45%;
}

.phone_field{
    margin-left: 17.5%;

}