.check_image{
    width: 100px;
    height: 100px;
}
.caption{
    margin-top:10%;
    text-align: center;
}
.purchase_message{
    text-align: center;
    margin-left: 20px;
}
.cancel{
    margin-left:38%;
    width:170px;
}
.cont{
    margin-right: auto;
    margin-left:5%;
    width:170px;
}
.sign_out{
    margin-top: 38px;
    margin-left:45%;
    width:170px;
    margin-bottom: 295px;
}

.brand-nav{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}

.brand-footer{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}
