.container{
    margin-top:2%;
    margin-left: 10%;
}
.context{
    margin-right:12%;
    margin-top:auto;
    margin-bottom:5%;
    text-align:center;
}
.outer-row-first{

    margin-bottom: 70px;
}