.container-seat{
    margin-top:2%;
    margin-left: 10%;
}
.context-seat{
    margin-right: 10%;
    margin-top:auto;
    margin-bottom:5%;
    text-align:center;
}
.outer-row-first-seat{

    margin-bottom: 70px;
}
.seat-box{
    border:none;
}

.brand-footer-seat{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
    position:absolute;
    bottom:0px;
}
.brand-footer-seat{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}


.brand-nav-seat{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    text-align:center;
    vertical-align:center;
    padding-top: 13px;
}